@import "tailwindcss";

@font-face {
    font-family: 'saans';
    src: url('/font/saans-font.ttf') format("truetype");
    font-style: normal;
}

body{
    color: black;
    font-family: 'saans', 'Times New Roman';
    overflow-x: hidden;
}